<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>
    <ul>
        {{#each result}}
        <li>{{this.company_name}} ({{this.stock_ticker}}) - ${{this.stock_price}}</li>
        {{/each}}
    </ul>
</body>
</html>
